.smallerTextBoxClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 3cm;
    height: 10mm;
    padding: 1mm;
}
.smallTextBoxClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 8cm;
    height: 10mm;
    padding: 1mm;
}

.bigTextBoxClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 12cm;
    height: 10mm;
    padding: 1mm;
}

.biggerTextBoxClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 1mm;
    width: 20cm;
    height: 10mm;
    padding: 1mm;
}
.selectControlBoxClass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: 12cm;
    height: 10mm;
    padding: 1mm;
}
.formButtonClass{
    margin-left: 5mm;
    margin-right: 5mm;
    width: 5cm;
    height: 1cm;
    background-color:green;
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
input[type="text"]{
    width: 10cm;
    height: 15mm;
    padding: 1mm;
}

.radioButtonClass input[type="radio"]{
    margin-right: 1mm;
}

.radioButtonClass label{
    margin-right: 4mm;
}
